:root {
  --bg: #05080f;
  --neon-cyan: #14f6ff;
  --neon-pink: #ff4ec6;
  --neon-purple: #b48cff;
  --neon-yellow: #fff65e;
  --neon-green: #7dff9a;
  --glass: rgba(255, 255, 255, 0.04);
  --text-color: #1B2E83;
  --border: #0054a6;
  --input-color: #222222;
  --toast-bg: #a8e8fd;
}

* {
  box-sizing: border-box
}

html, body {
  height: 100%
}

body {
  margin: 0;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/bg-troi-xanh.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Poppins, Inter, sans-serif;
  color: #e6eef8;
  overflow: hidden;
  position: relative;
}

.main-board {
  position: absolute;
  top: 35%;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 50%;
  background-image: url('../../images/song-bien-2.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  pointer-events: none;
  opacity: 0.5;
}

.main-container {
  width: 25rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

.card {
  width: 100%;
  padding: 30px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.02));
  box-shadow: 0 0 20px rgba(37, 32, 36, 0.324), 0 0 30px rgba(20, 246, 255, 0.2);
  border: 1px solid #0054a6;
  border-radius: 5px;;
  background-clip: padding-box;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  pointer-events: none;
}

@keyframes borderFlow {
  0% {
    filter: hue-rotate(0deg)
  }

  100% {
    filter: hue-rotate(360deg)
  }
}

.neon-title {
  font-weight: 700;
  font-size: 25px;
  margin: 0 0 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.logo-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: linear-gradient(135deg, var(--text-color));
  /* box-shadow: 0 0 10px var(--neon-cyan), 0 0 20px var(--neon-pink); */
}

form {
  display: flex;
  flex-direction: column;
  gap: 14px
}

.input {
  padding: 12px 16px;
  border: 1px solid #0054a6;
  border-radius: 5px;
  background: transparent;
  color: var(--input-color);
  font-size: 15px;
  outline: none;
  transition: all .2s;
}

.input:focus {
  box-shadow: 0 0 20px rgba(20, 246, 255, 0.3), 0 0 10px rgba(255, 78, 198, 0.3);
  transform: translateY(-2px);
}

.btn {
  padding: 12px 18px;
  border-radius: 5px;
  border: 1px solid #0054a6;
  cursor: pointer;
  font-weight: 700;
  background: linear-gradient(90deg, var(--neon-pink), var(--neon-cyan), var(--neon-yellow), var(--neon-green));
  color: var(--text-color);
  letter-spacing: 0.6px;
  box-shadow: 0 0 20px rgba(37, 32, 36, 0.324), 0 0 30px rgba(20, 246, 255, 0.2);
  background: transparent;
}

.btn:hover {
  filter: brightness(1.2)
}

.btn:active {
  transform: scale(0.97)
}

.footer {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  color: var(--text-color);
  text-shadow: 0 0 10px var(--neon-cyan), 0 0 20px var(--neon-pink), 0 0 40px var(--neon-green);
}

@keyframes blink {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.6;
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.toast {
  background: linear-gradient(90deg, var(--toast-bg), var(--neon-cyan));
  padding: 10px 20px;
  border-radius: 5px;
  color: #071022;
  font-weight: 700;
  box-shadow: 0 0 25px rgba(20, 246, 255, 0.2), 0 0 25px rgba(255, 78, 198, 0.2);
  transition: bottom .5s ease, opacity .4s;
  opacity: 0;
  display: none;
  width: 100%;
  height: auto;
}

.toast.show {
  display: block;
  opacity: 1;
}